@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
#one{
    width: 100%;
    header{
        width: 100%;
        position: relative;
        >img{
            width: 100%;
        }
        >span{
            position: absolute;
            top: 1.2rem;right: 1.2rem;
            a{
                text-decoration: none;
                font-family: "微软雅黑";
                font-size: 1.3rem;
                color: whitesmoke;
            }
        }
    }
    article{
        width: 100%;
        section:nth-child(1){
            margin-top: 4.5rem;
        }
        section:nth-child(1),section:nth-child(2){
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            >div:nth-child(1){
                margin-left: 1.4rem;
                padding: 1.5rem 0;
                margin-right: 0.8rem;
                img{
                    width: 1.4rem;
                }
            }
            >div:nth-child(2){
                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    font-family: "微软雅黑";
                    font-size: 1.2rem;
                }
            }
        }
        section:nth-child(2){
            border-top: solid 0.05rem #F0F0F0;
            border-bottom: solid 0.05rem #F0F0F0;
        }
        section:nth-child(3){
            width: 100%;
            text-align: center;
            margin-top: 3rem;
            //display: none;
            a{
                display: inline-block;
                width: 90%;
                background: #FFD974;
                border-radius: 20px;
                text-decoration: none;
                font-family: "微软雅黑";
                font-size: 1.5rem;
                color: whitesmoke;
                padding: 1rem 0;
                outline: none;
            }
        }
        section:nth-child(4){
            width: 100%;
            margin-top: 1rem;
            text-align: right;
            display: none;
            a{
                text-decoration: none;
                font-family: "微软雅黑";
                font-size: 1.3rem;
                color: red;
                margin-right: 2rem;
            }
        }
    }
}
