*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  width: 100%;
  height: 2rem;
  background-color: #F75A2A;
  &:after{
    content: "";
    display: block;
    clear: both;
  }
  >a{
    display: inline-block;
    color: #fff;
    float: left;
    line-height: 2rem;
    margin-left: .625rem;
  }
  >p{
    font-size: .75rem;
    color: #fff;
    text-align: center;
    line-height: 2rem;
  }
}
.content{
  width: 100%;
  >.logo{
    width: 100%;
    background-color: #F75A2A;
    text-align: center;
    height: 4.5rem;
    >p{
      margin-left: 1rem;
      >img{
        width: 20%;
      }
      &:nth-child(2){
        color: #fff;
        font-size: .75rem;
      }
    }
  }
  >.recharge{
    width: 100%;
    >div{
      padding: .35rem .5rem;
      width: 100%;
      background-color: #F5F5F5;
      p{
        font-size: .7rem;
        color: #929292;
      }
    }
    >ul{
      width: 100%;
      list-style: none;
      >li{
        //display: flex;
        padding: .35rem .5rem;
        border-bottom: 2px solid #E3E3E3;
        >span{
          font-size: .7rem;
          color: #484848;
          &:nth-child(2){
            display: inline-block;
            width: 1.3rem;
            height: 1.375rem;
            font-size: .8rem;
            color: #fff;
            background-color: #FFAC2E;
            line-height: 1.375rem;
            text-align: center;
            border-radius: 3px;
            margin-left: .2rem;
            margin-right: .25rem;
          }
          &:last-child{
            margin-top: .4rem;
            float: right;
          }
        }
        &:nth-child(2)>span:nth-child(2){
          background-color: #FA5A2C;
        }
        &:nth-child(3)>span:nth-child(2){
          background-color: #03A9F5;
        }
        &:nth-child(4)>span:nth-child(2){
          background-color: #02D064;
        }
      }
    }
  }
  .money{
    width: 100%;
    padding: .6rem .7rem .6rem .8rem;
    >p{
      font-size: .7rem;
      height: 1.5rem;
      border: 1px dashed #F8734C;
      text-align: center;
      line-height: 1.5rem;
      color: #F8734C;
    }
  }
  .content1{
    width: 100%;
    padding: 0 .5rem;
    p{
      height: 1.5rem;
      background-color: #FED556;
      text-align: center;
      line-height: 1.5rem;
      border-radius: 3px;
      >a{
        font-size: .7rem;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}